<!-- Loop over each food object -->
{{#each foods as |food| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Render user-specific data with Handlebars.js expressions -->
    <h2>{{food.name}} - {{food.serving_amount}} - {{food.meal_type}} - {{food.date_time}} - {{food.user_id}}</h2>
  </div>
</div>
{{/each}}

<!DOCTYPE html>
<html>
<head>
  <title>My Homepage</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  <script src="homepage.js"></script>
</head>
<body>
  <!-- Your HTML content goes here -->

  <script id="homepageTemplate" type="text/x-handlebars-template" src="homepage.handlebars"></script>
</body>
</html>