<head>
  <style>
    .table-container {
      width: 100%;
      margin-bottom: 1rem;
      max-height: 398px; /* Set the maximum height for scrolling */
      overflow-y: auto; /* Enable vertical scrolling */
    }

    .nutrition-card {
      margin-top: 1rem;
    }

    .nutrition-card .card-body {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  </style>
</head>
<body>
  
  <h1 class="mt-4">Nutrition Table</h1>
  <h2>Hi, {{user.username}}!</h2>


  <h2 class="mt-4">Please enter the Name of the food you want information on!</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Name and Serving Size</h2>
            <form id="meal-form">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                <label for="serving-size">Serving Size:</label>
                <input type="text" class="form-control" id="serving-size" name="servingSize" required>
              </div>
              <button type="button" class="btn btn-primary" id="search-button">Search</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Date and Meal Type</h2>
            <form id="meal-form">
              <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
              </div>
              <div class="form-group">
                <label for="meal-type">Meal Type:</label>
                <select class="form-control" id="meal-type" name="mealType" required>
                  <option value="">Select Meal Type</option>
                  <option value="breakfast">Breakfast</option>
                  <option value="lunch">Lunch</option>
                  <option value="dinner">Dinner</option>
                  <option value="snack">Snack</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary" id="add-meal-btn">Add Meal</button>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="table-container">
          <div class="row align-center mb-5">
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Food Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Meal Type</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each foods as |food|}}
                    <tr>
                      <td>{{food.name}}</td>
                      <td>{{food.serving_amount}}</td>
                      <td>{{food.meal_type}}</td>
                      <td>{{food.date_time}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><div class="col-md-6">
        <h2>Nutrition Information</h2>
  <div class="card nutrition-card">
    {{!-- <div class="card-body"> --}}
           <table class="table">
        <tbody>
          <tr>
            <td>Food Item:</td>
            <td><span id="food-name"></span></td>
          </tr>
          <tr>
            <td>Calories:</td>
            <td><span id="calories"></span></td>
          </tr>
          <tr>
            <td>Sugar:</td>
            <td><span id="sugar"></span></td>
          </tr>
          <tr>
            <td>Sodium:</td>
            <td><span id="sodium"></span></td>
          </tr>
          <tr>
            <td>Total Fat:</td>
            <td><span id="total-fat"></span></td>
          </tr>
          <tr>
            <td>Cholesterol:</td>
            <td><span id="cholesterol"></span></td>
          </tr>
          <tr>
            <td>Protein:</td>
            <td><span id="protein"></span></td>
          </tr>
          <tr>
            <td>Carbohydrates:</td>
            <td><span id="carbohydrates"></span></td>
          </tr>
        </tbody>
      </table>
    {{!-- </div> --}}
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <script src="../js/nutrition.js "></script>
</body>